<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/panel.css') }}">
    <title>AdminPanel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="sidenav">
    <p id="Admin"><img src="{{ url_for('static',filename='img/ssp.jpg') }}"> Admin</p>
    <hr>
    <p>Well-come : {{ data }}</p>
    <hr>
    <a href="{{ url_for('wholesaler') }}">Wholesaler Database</a>
    <hr>
    <a href="{{ url_for('retailer') }}">Retailer Database</a>
    <hr>
    <a href="{{ url_for('index') }}">Logout</a>
</div>
</body>
</html>
